@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.AspNetCore.SignalR.Client
@using chat.Shared;
@using chat.Shared.Dto;
@inject NavigationManager Navigation
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject HttpClient http
@inject IAccessTokenProvider tokenProvider
@implements IAsyncDisposable

<PageTitle>Global Chat</PageTitle>
@if (channel != null)
{
    <div>
        <p>@channel.Name</p>
        <p>@channel.Description</p>
        <p>@channel.Created     </p>
    </div>

    <div class="form-group">
        <label>
            Message:
            <input @bind="messageInput" size="50" />
        </label>
    </div>
    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>

    <hr>


    <ul id="messagesList">
        @foreach (var m in channel.Messages)
        {
            <p><img src="@m.Sender.ImageUrl" style="width:50px;height:50;" /><strong> @m.Sender.UserName @m.Created</strong>: @m.Content</p>
        }
    </ul>

}
else
{
    <p>loading</p>
}

@code {
    private HubConnection? hubConnection;
    private ChannelDto channel;
    private string? userInput = String.Empty;
    private string? messageInput = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        channel = await http.GetFromJsonAsync<ChannelDto>("api/channel");
        var tokenRequest = await tokenProvider.RequestAccessToken();
        tokenRequest.TryGetToken(out var token);
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/channel"), options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(token.Value);
            })
            .Build();

        hubConnection.On<MessageDto>("PublicMessage", (message) =>
        {
            if (channel.Messages != null)
                channel.Messages.Add(message);
            StateHasChanged();
        });


        var user = (await GetAuthenticationStateAsync.GetAuthenticationStateAsync()).User;
        userInput = user.FindFirst(u => u.Type.Contains("sub"))?.Value;
        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", messageInput);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}